<p id="notice"><%= notice %></p>


<p>
  <strong>Number:</strong>
  <%= @train.number %>
</p>

<strong>На станции:</strong>
  <% if @train.current_station.present? %>
    <%= @train.current_station.title %>
  <% else %>
    Не указано
  <% end %>
</p>

<strong>Маршрут поезда:</strong>
  <% if @train.route.present? %>
    <%= @train.route.title %>
  <% else %>
    Маршрут не назначен
  <% end %>
<br>
<br>

<h1>Вагоны.:</h1>

<table>
  <thead>
    <tr>
      <th>тип вагона</th>
      <th>верхние места</th>
      <th>нижние места</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
     <%= render partial: "wagons/wagon", collection: @train.wagons %>
  </tbody>
</table>

<%= link_to 'Edit', edit_train_path(@train) %> |
<%= link_to 'Back', trains_path %>
