<p>все проданные билеты:</p>

<div class="row">
  <div class="col-md-2"> Покупатель </div>
  <div class="col-md-2"> № билета </div>
  <div class="col-md-2"> № поезда</div>
  <div class="col-md-2"> Маршрут</div>
  <div class="col-md-2"> </div>
  <div class="col-md-2"> </div>
</div>
<% @tickets.each do |ticket| %>
  <div class="row">
          <div class="col-md-2">
            <%= ticket.user.email %>
          </div>
  <div class="row">
          <div class="col-md-2">
            <%= ticket.number %>
          </div>
  <div class="row">
          <div class="col-md-2">
            <%= ticket.train.number %>
          </div>
  <div class="row">
          <div class="col-md-2">
            <%= ticket.train.route.title %>
          </div>
  <div class="row">
          <div class="col-md-2">
            <%= link_to 'удалить билет', ticket, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary" %>
          </div>
  <div class="row">
          <div class="col-md-2">
            <%= link_to 'просмотр', ticket, class: "btn btn-primary" %>
          </div>
<% end %>

