<p>все проданные билеты:</p>

<table>
  <thead>
    <tr>
      <th>покупатель</th>
      <th>№ билета</th>
      <th>№ поезда</th>
      <th>маршрут</th>
    </tr>
  </thead>

  <tbody>
    <% @tickets.each do |ticket| %>
      <tr>
        <td><%= current_user.email %></td>
        <td><%= ticket.number %></td>
        <td><%= ticket.train.number %></td>
        <td><%= ticket.train.route.title %></td>
        <td><%= link_to 'удалить билет', ticket, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'просмотр', ticket %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
