<%= form_with(model: [:admin, @ticket], local: true) do |form| %>
  <%= render 'common/errors', resource: @ticket %>  



  <div>
    <%= form.hidden_field :train_id, :value => @ticket.train_id %>
    <%= form.hidden_field :start_station_id, :value => @ticket.start_station_id %>
    <%= form.hidden_field :end_station_id, :value => @ticket.end_station_id %>
  </div>

  <div class="field">
    <%= form.label :number %>
    <%= form.text_field :number, id: :ticket_number %>
  </div>

  <p>данные о пассажире:</p>
    
  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name, id: :ticket_first_name %>
  </div>
  
  <div class="field">
    <%= form.label :family_name %>
    <%= form.text_field :family_name, id: :ticket_family_name %>
  </div>

  <div class="field">
    <%= form.label :patronymic %>
    <%= form.text_field :patronymic, id: :ticket_patronymic %>
  </div>

  <div class="field">
    <%= form.label :passport %>
    <%= form.text_field :passport, id: :ticket_passport %>
  </div>





  

  <div class="actions">
    <%= form.submit t('admin.tickets.form.submit')%>
  </div>

<% end %>
