<p> Информация о маршруте Admin: </p>

<p>маршрут: <%= @ticket.train.route.title %></p>
<p>поезд: <%= @ticket.train.number %></p>

<p>отправление в: <%= @ticket.start_station.departure_at(@ticket.train.route) %></p>
<p>отправление c: <%= @ticket.start_station.title %></p>

<p>прибытие в: <%= @ticket.end_station.arrival_at(@ticket.train.route) %></p>
<p>прибытие на: <%= @ticket.end_station.title %></p>

<p> Информация о билете: </p>
<p><%= t('.number') %><%= @ticket.number %></p>
<p><%= t('.first_name') %>:  <%= @ticket.first_name %></p>
<p><%= t('.family_name') %> <%= @ticket.family_name %></p>
<p><%= t('.patronymic') %><%= @ticket.patronymic %></p>
<p><%= t('.passport') %><%= @ticket.passport %></p>
<p><%= t('.bayer')%> <strong><%= @ticket.user.email %></strong></p>
