<p id="notice"><%= notice %></p>

<p>
  <strong>wag num:</strong>
  <%= @wagon.number %>
</p>

<p>
  <strong>тип вагона:</strong>
  <%= @wagon.type %>
</p>

<%= render @wagon.type.underscore %>

<p>
<strong>Поезд:</strong>
  <%= @wagon.train.number %>
</p>

<%= link_to 'Редактировать', edit_wagon_path(@wagon) %> |
<%= link_to 'Назад к вагонам', wagons_path %>
