<p id="notice"><%= notice %></p>

<p>
  <strong>Название:</strong>
  <%= @route.title %>
</p>

<p>станции в маршруте: </p>

<% if @route.railway_stations.empty? %>
  <p> Список пуст  </p>
<% else %>
  <p>станции входящие в маршрут:</p>
  <ul>
    <% @route.railway_stations.station_number_to_station.sorted.each do |station| %>
    <%= station.station_number %> - <%= station.title %>
    <%#<% @route.railway_stations.sorted.each do |station| %>
    <%#<%= station.railway_stations_routes.ddd %><%#<%= station.title %> <%#<%= @route.railway_stations.rrr %> 
  </ul>
  <% end %>
<% end %>

<br>
<p>поездов на этом маршруте: </p>
<% if @route.trains.empty? %>
  <p>Поездов нет в маршруте</p>
<% else %>
  <% @route.trains.each do |train| %>
  <%= train.number %>
<% end %>
<% end %> 
<br>
<br>

<%= link_to 'Edit', edit_route_path(@route) %> |
<%= link_to 'Back', routes_path %>
