<%= form_for [:admin, train], html: { style: "display: #{hidden ? 'none' : 'block'}" } do |form| %>
  <%= render 'common/errors', resource: train %>  

  <div class="field">
    <%= form.label :number  %>
    <%= form.number_field :number, id: :train_number %>
  </div>

  <div class="field">
    <%= form.label :current_station, 'Текущая станция' %> 
    <%= form.collection_select :current_station_id, RailwayStation.all, :id, :title %>
  </div>

  <div class="field">
    <%= form.label :route, 'Маршрут' %>
    <%= form.collection_select :route_id, Route.all, :id, :title %>
  </div>
  
  <div class="field">
    <%= form.label :sort_from_head, 'сортировать по возрастанию' %> 
    <%= form.check_box :sort_from_head %>
  </div>
  

  <div class="actions">
    <%= form.submit "#{ train.new_record? ? 'Создать' : 'Изменить' }", class: "btn btn-primary"%>
  </div>

<% end %>
