<!DOCTYPE html>
<html>
  <head>
    <title>Tutu</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <br>
    <hr>
      <%= link_to 'ссылка на поездa', trains_path %>
      <%= link_to 'ссылка на маршруты', routes_path %>
      <%= link_to 'ссылка на станции', railway_stations_path %>
    | #это временно для удобства
    <hr>
  </body>
</html>
