<!DOCTYPE html>
<html>
  <head>
    <title>Tutu</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p id="notice" class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    
    <% if user_signed_in? %>
      <%= link_to 'Выйти', destroy_user_session_path, method: :delete %>
      <p>  I'm <%= current_user.email %>
        <% if current_user.admin?%>
        (Администратор)
        <% else %>
        (пользователь)
        <% end %></p>
      </p>
    <% else %>
      <%= link_to 'Войти', new_user_session_path %>
    <% end %>

    <%= yield %>
    <br>
    <hr>
      <% if current_user.admin? %>
        <%= link_to 'ссылка на поездa', admin_trains_path %>
        <%= link_to 'ссылка на маршруты', admin_routes_path %>
        <%= link_to 'ссылка на станции', admin_railway_stations_path %>
        <%= link_to 'билеты', admin_tickets_path %>
      <% else %>
        <%= link_to 'поиск', search_path %>
        <%= link_to 'мои билеты', tickets_path %>
      <% end %>
    | #юзерница
    <hr>
    <p> (с) 2017 Erik  | Учебный проект в <%= link_to "онлайн-школе Thinknetica.",  "http://www.thinknetica.com" %><p>
  </body>
</html>
